# IMPORTACIÓN DE LIBRERIAS

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import seaborn as sns
%matplotlib inline 

plt.rcParams['figure.figsize']=(15, 8)

pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns", None)

# LECTURA DE CSV

In [2]:
#Lectura of dataframes


dfevolucion = pd.read_excel('evolucion precio vivienda 2.xls')
dfhipotecas = pd.read_excel('hipoteca entidades financieras.xls')
dfdeuda = pd.read_excel('deuda segun barrio y distrito.xls')
dftransmisiones = pd.read_excel('transmisiones años posesion.xls')
dfeurometro = pd.read_excel('euro metro por vivienda .xls')
dfidealista = pd.read_excel('idealista  copia.xlsx')

In [3]:
#Rename de una columna


dfhipotecas.rename({"Ciudad de Madrid":"Distrito"},axis=1, inplace = True)

# FUNCION PARA MODIFICAR COLUMNA DISTRITO

In [4]:
def cambio(df , col):
    df[col] = df[col].str.split('.').str[1].tolist()
    df = df.sort_values(by = 'Distrito')
    
    return df

In [5]:
evol = cambio(dfevolucion,'Distrito')

In [6]:
len(evol.Distrito.unique())

160

In [7]:
deuda = cambio(dfdeuda,'Distrito')

In [8]:
len(deuda)

152

In [9]:
trans = cambio(dftransmisiones,'Distrito')

In [10]:
len(trans)

154

In [11]:
euro = cambio(dfeurometro,'Distrito')

In [12]:
len(euro)

152

In [13]:
hipo = cambio(dfhipotecas,'Distrito')

In [14]:
len(hipo)

21

In [15]:
deuda.head(2)

     Distrito  Hipoteca media   Tipo de interés medio  20 años
82   Abrantes        107708.87                   2.59   575.30
17   Adelfas         215458.34                   1.95  1084.39

In [16]:
euro.head(2)

     Distrito  Nueva    Usada
82   Abrantes    0.0  1935.95
17   Adelfas     0.0  4272.23

# MERGEADO DE LOS DATAFRAMES

In [17]:
df1 = pd.concat([deuda, euro[['Nueva', 'Usada']]], axis =1)

In [18]:
df2 = pd.merge(df1, evol, how = 'left', left_on = df1.Distrito, right_on = evol.Distrito)

In [19]:
df2 = df2.drop(columns = ['Distrito_x', 'Distrito_y'], axis = 1)
df2 = df2.rename(columns = {'key_0': 'Distrito'})

In [20]:
df3 = pd.merge(df2, trans, how = 'left', left_on = df2.Distrito, right_on = trans.Distrito)

In [21]:
df3 = df3.drop(columns = ['Distrito_x', 'Distrito_y'], axis = 1)
df3 = df3.rename(columns = {'key_0': 'Distrito'})

In [22]:
df3.head(2)

,Distrito,Hipoteca media,Tipo de interés medio,20 años,Nueva,Usada,2020,2019,De 0 a 2,De 2 a 5,De 5 a 10,Más de 10
0,Abrantes,107708.87,2.59,575.30,0.0,1935.95,1925,1883,5,4,7,0
1,Adelfas,215458.34,1.95,1084.39,0.0,4272.23,NaN,NaN,41,13,12,42

# SCRAPING DE IDEALISTA

Finalmente no puedo usarlo por que los datos no coinciden

In [23]:
#import time
#from selenium import webdriver


#url='https://www.idealista.com/sala-de-prensa/informes-precio-vivienda/venta/madrid-comunidad/report/'
#PATH='chromedriver'
#driver=webdriver.Chrome(PATH)
#driver.get(url)

#time.sleep(20) 

#aceptar=driver.find_element_by_xpath('/html/body/div[1]/div/div/div/div/div[2]/button[2]')

#time.sleep(40) 

#cabeceras=driver.find_element_by_tag_name('thead')

#cabeceras=[c.text for c in cabeceras.find_elements_by_tag_name('th')]


#tabla=driver.find_element_by_tag_name('tbody')

#filas= tabla.find_elements_by_tag_name('tr')

#datos=[]

#for f in filas:
    
    #datos.append([e.text for e in f.find_elements_by_tag_name('td')])


#datos=[[e.text for e in f.find_elements_by_tag_name('td')] for f in filas]


#driver.quit()

In [24]:
dfhipotecas.head(4)

,Distrito,Bancos Libre,Bancos Protegida,Unnamed: 3,Private equity libre,Private equity lprotegida
0,Centro,93.79,0.0,NaN,6.21,0.0
1,Arganzuela,99.45,0.3,NaN,0.25,0.0
2,Retiro,78.14,0.0,NaN,21.86,0.0
3,Salamanca,83.61,0.0,NaN,16.39,0.0

In [25]:
dfhipotecas.head(4)

,Distrito,Bancos Libre,Bancos Protegida,Unnamed: 3,Private equity libre,Private equity lprotegida
0,Centro,93.79,0.0,NaN,6.21,0.0
1,Arganzuela,99.45,0.3,NaN,0.25,0.0
2,Retiro,78.14,0.0,NaN,21.86,0.0
3,Salamanca,83.61,0.0,NaN,16.39,0.0

In [26]:
dftransmisiones.head(4)

   Distrito  De 0 a 2  De 2 a 5   De 5 a 10  Más de 10
0       NaN  De 0 a 2  De 2 a 5   De 5 a 10  Más de 10
1       NaN      3304       1868       1705       7114
2    Centro       239        170        173        499
3   Palacio        35         13          6         55

In [27]:
dfeurometro.head(4)

       Distrito    Nueva    Usada
0        Centro  5468.63  5194.16
1       Palacio  5082.76  5020.78
2   Embajadores  5464.51  4496.74
3        Cortes     0.00  4989.95

In [28]:
dfidealista.head(4)

        Localización  Precio m2 mayo 2021  Máximo histórico  Fecha
0   Madrid Comunidad                 2927              2927   2021
1   Madrid provincia                 2927              2927   2021
2             Madrid                 3746              3822   2019
3  Alcalá de Henares                 1838              2472   2008

# RENAME OF COLUMS, DROP

In [29]:
#Rename of columns dftransmisiones

dftransmisiones.rename({"Columna1":"Ciudad de Madrid","Columna3":"0 a 2 años",
                        "Columna4":"2 a 4 años","Columna5":"4 a 6 años","Columna6":"Mas de 10 años" },axis=1, inplace = True)



dfevolucion.rename({"Distrito":"Ciudad de Madrid"},axis=1, inplace = True)

dfeurometro.rename({"ciudad de madrid":"Ciudad de Madrid"},axis=1, inplace = True)

#Drop rows


dftransmisiones = dftransmisiones.iloc[1: , :]
dfhipotecas.drop('Unnamed: 3', axis=1, inplace=True)

# CONVERTED FROM DECIMALS TO INTEGERS

In [30]:
#dfeurometro = dfeurometro.astype({"Nueva":'int', "Usada":'int'})

In [31]:
#limpiar_hipoteca(dfhipotecas,"Ciudad de Madrid")

# FINAL DATAFRAMES

In [32]:
#Dataframes limpios

#dfeurometro = limpiar_distritos(dfeurometro,"Ciudad de Madrid")
#dfhipotecas = limpiar_distritos(dfhipotecas,"Ciudad de Madrid")
#dfdeuda = limpiar_distritos(dfdeuda,"Ciudad de Madrid")
#dftransmisiones = limpiar_distritos(dftransmisiones,"Ciudad de Madrid")
#dfevolucion = limpiar_distritos(dfevolucion,"Ciudad de Madrid")

# WEB SCRAPING SELENIUM

Finalmente no lo uso por que los datos no coinciden. Por lo tanto puedo realizar el analisis con los demas Dataframes

In [33]:



#import time
#from selenium import webdriver

#url='https://www.idealista.com/sala-de-prensa/informes-precio-vivienda/venta/madrid-comunidad/report/'
#PATH='chromedriver'
#driver=webdriver.Chrome(PATH)
#driver.get(url)
#time.sleep(40) 
#aceptar=driver.find_element_by_xpath('/html/body/div[1]/div/div/div/div/div[2]/button[2]')
#time.sleep(40) 
#cabeceras=driver.find_element_by_tag_name('thead')
#cabeceras=[c.text for c in cabeceras.find_elements_by_tag_name('th')]
#tabla=driver.find_element_by_tag_name('tbody')
#filas= tabla.find_elements_by_tag_name('tr')


#datos=[]



#for f in filas:    
    #datos.append([e.text for e in f.find_elements_by_tag_name('td')])
#datos=[[e.text for e in f.find_elements_by_tag_name('td')] for f in filas]
#driver.quit()

In [38]:
#final = pd.merge(df3, dfidealista, how = 'left', left_on = df3.Distrito, right_on = dfidealista.Distrito)

In [39]:
#final = final.drop(columns = ['Distrito_x', 'Distrito_y'], axis = 1)
#final = final.rename(columns = {'key_0': 'Distrito'})

 EXPORTO DATAFRAME FINAL

In [40]:
df3.to_excel("real_estate.xlsx")

# EDA & VISUALIZACION

In [41]:
df3.describe()

,Hipoteca media,Tipo de interés medio,20 años,Nueva,Usada
count,1.580000e+02,158.000000,158.000000,158.000000,158.000000
mean,2.172908e+05,2.191646,1111.049747,1728.117215,3351.017595
std,1.442536e+05,0.437554,713.459946,1894.445226,1573.034197
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,1.252382e+05,2.002500,658.777500,0.000000,2208.037500
50%,1.666653e+05,2.180000,880.190000,1785.460000,3206.800000
75%,2.588401e+05,2.370000,1322.715000,2912.382500,4403.470000
max,1.002489e+06,4.820000,4974.210000,6827.790000,9249.310000

In [42]:
df3.corr(method='pearson')

,Hipoteca media,Tipo de interés medio,20 años,Nueva,Usada
Hipoteca media,1.000000,-0.278760,0.999461,-0.016553,0.738392
Tipo de interés medio,-0.278760,1.000000,-0.255253,-0.011255,-0.220825
20 años,0.999461,-0.255253,1.000000,-0.019821,0.737729
Nueva,-0.016553,-0.011255,-0.019821,1.000000,0.040661
Usada,0.738392,-0.220825,0.737729,0.040661,1.000000

In [43]:
df =sns.load_dataset('real_estate.xlsx') 

df.head()

ValueError: 'real_estate.xlsx' is not one of the example datasets.

In [ ]:
sns.set(style='white')   # estilo blanco


mascara=np.triu(np.ones_like(corr, dtype=bool))  # genera una mascara para la triangular superior

color_map=sns.diverging_palette(0, 10, as_cmap=True)  # paleta de colores


sns.heatmap(corr,  # mapa de calor
           mask=mascara,
           cmap=color_map,
           vmax=1,  # limite vertical
           center=0, 
           square=True,  # datos como cuadrados
           linewidth=.5, # ancho de linea
           cbar_kws={'shrink': .5}  # barra lateral
           );